.menu-bar {
    display: flex;
    justify-content: space-between; /* Adjust this as needed */
    align-items: center; /* Vertically center items */
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
  }
  
  .menu-item {
    padding: 10px;
  }

  .menu-item-link {
    color: inherit;
  }
  